<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.angelina.travelapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".Application"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="TravelFriend!"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".places.PlacesActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.Launcher" />
            </intent-filter>
        </activity>
        <activity android:name=".CameraActivity" />
        <activity
            android:name=".map.MapActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".places.PlacesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".places.PlacesActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".events.ui.activity.EventsActivity"
            android:label="@string/title_activity_events2"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SetUp"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".SpliterActivity"
            android:label="SpliterActivity"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".FoodToPeople"
            android:label="FoodToPeople"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".UserSummary"
            android:label="@string/title_activity_user_summary"></activity>
        <activity
            android:name=".server"
            android:label="@string/title_activity_server"
            android:theme="@style/AppTheme"></activity>
        <activity android:name=".NewActivity">
        </activity>
        <activity android:name=".ThirdActivity" > </activity>
    </application>

</manifest>